{% include 'home/base.html' %}
{% load static %}
{% include 'home/navstyle.html' %}
{% block content %}

{% include 'home/navbar.html'%}

{% include 'home/aboutstyle.html'%}
<div class="view intro-2" style="">
  <div class="full-bg-img">
    <div class="mask rgba-black-strong flex-center">
      <div class="container text-center white-text wow fadeInUp">
        <!-- <h2 id="headtext" class="mt-5"></h2> -->
        <h2 id="" style="color: whitesmoke;">
          Contact us           </h2>
        <br>
        <h5 class="pb-2 mb-5">Want to get in touch? We'd love to hear from you. Here's how you can reach us</h5>
      </div>
    </div>
  </div>
</div>

<main class="text-center">

  <div class="container my-5 py-5 ">


    <!--Section: Content-->
    <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">

      <style>
        .map-container {
          height: 400px;
          position: relative;
          overflow: hidden
        }

        .map-container iframe {
          left: 0;
          top: 0;
          height: 600px;
          width: 100%;
          position: absolute;

        }
      </style>

      <!--Google map-->
      <!-- <div id="map-container-google-1" class="z-depth-1 map-container mb-5"> -->
        <!-- <iframe
          src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d39067.31295880065!2d77.30147332928166!3d28.590126883862627!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390ce45400000001%3A0x8d5236809cc1bd09!2sRapidtech%20IT%20services%20Pvt%20Ltd.!5e0!3m2!1sen!2sin!4v1604060469549!5m2!1sen!2sin"
          frameborder="0" style="border:0; margin-top : -200px"></iframe> -->
      <!-- </div> -->
      <!--Google Maps-->

      <!--Grid row-->
      <div class="row">

        <!--Grid column-->
        <div class="col-lg-5 col-md-12 mb-0 mb-md-0">

          <h3 class="font-weight-bold">Contact Us</h3>

          <p class="text-muted">{{contactInfo.location}}</p>

          <p><span class="font-weight-bold mr-2">Email:</span><a href="">{{contactInfo.email}}</a></p>
          <!--        <p><span class="font-weight-bold mr-2">Phone:</span><a href="">+48 123 456 789</a></p>-->

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-7 col-md-12 mb-4 mb-md-0">
          <form method="POST" action="{% url 'contact1' %}">
            {% csrf_token %}
            <!--Grid row-->
            <div class="row">


              <!--Grid column-->
              <div class="col-md-6">

                <!-- Material outline input -->
                <div class="md-form md-outline mb-0">
                  <input type="text" id="form-first-name" required name="name" class="form-control">
                  <label for="form-first-name">Your name</label>
                </div>

              </div>
              <!--Grid column-->

              <!--Grid column-->
              <div class="col-md-6">

                <!-- Material outline input -->
                <div class="md-form md-outline mb-0">
                  <input type="text" id="form-last-name" required name="contact" class="form-control">
                  <label for="form-last-name">Mobile Number</label>
                </div>

              </div>
              <!--Grid column-->

            </div>
            <!--Grid row-->

            <!-- Material outline input -->
            <div class="md-form md-outline mt-3">
              <input type="email" id="form-email" required name="email" class="form-control">
              <label for="form-email">E-mail</label>
            </div>

            <!-- Material outline input -->
            <div class="md-form md-outline">
              <input type="text" id="form-subject"  name="company" class="form-control">
              <label for="form-subject">Company</label>
            </div>

            <div class="md-form md-outline">
              <input type="text" id="form-company" required name="subject" class="form-control">
              <label for="form-company">Subject</label>
            </div>

            <!--Material textarea-->
            <div class="md-form md-outline mb-3">
              <textarea id="form-message" class="md-textarea form-control" required name="message" rows="6"></textarea>
              <label for="form-message">How we can help?</label>
            </div>

            <button type="submit" style="background-image: linear-gradient(to bottom right, #1780e8, #7e4684);"
              class="btn btn-info btn-sm ml-0">Submit<i class="far fa-paper-plane ml-2"></i></button>

          </form>
        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->


    </section>
    <!--Section: Content-->


  </div>




  {% include 'home/footer.html' %}

</main>

{% endblock content %}